.container{
  text-align: center;
}
#nameOfGame{
  color: turquoise;
  margin: 10px;
  font-size: 66px;
}
#startButton{
  color: #fff;
  font-size: 22px;
  background-color: #220022;
  margin: 25px 25px 0px 25px;
  height: 70px;
  width: 350px;
}
.fourButtons{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  background-color: rgba(153, 76, 0, 1);
  margin: 0 auto;
}
#greenButton{
  background-color: rgba(204, 255, 204, 1);
  height: 200px;
  width: 200px;
  margin: auto;
}
#redButton{
  background-color: rgba(255, 204, 204, 1);
  height: 200px;
  width: 200px;
  margin:auto;
}
#yellowButton{
  background-color: rgba(255, 255, 204, 1);
  height: 200px;
  width: 200px;
  margin: auto;
}
#blueButton{
  background-color: rgba(204, 204, 255, 1);
  height: 200px;
  width: 200px;
  margin: auto;
}
