.container{
  text-align: center;
}
#nameOfGame{
  color: turquoise;
  margin: 10px;
  font-size: 66px;
}
#startButton{
  color: #fff;
  font-size: 22px;
  background-color: red;
  margin: 25px 25px 0px 25px;
  height: 70px;
  width: 350px;
}
.fourButtons{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  background-color: rgba(84, 82, 36, 1);
  margin: 0 auto;
}
#greenButton{
  background-color: #9f9;
  height: 200px;
  width: 200px;
  margin: auto;
}
#redButton{
  background-color: #f99;
  height: 200px;
  width: 200px;
  margin:auto;
}
#yellowButton{
  background-color: #ff9;
  height: 200px;
  width: 200px;
  margin: auto;
}
#blueButton{
  background-color: #9ff;
  height: 200px;
  width: 200px;
  margin: auto;
}
